<div class="dock-wrapper">
    <div id="dock-container">
        <div id="dock">
            <ul>
                <li>
                    <span>{{ 'PAGES.DESKTOP.ABC' | translate }}</span>
                    <a href="/apps/alphabet"><img src="/assets/desktop/a-icon.png" /></a>
                </li>
                <li>
                    <span>{{ 'PAGES.DESKTOP.123' | translate }}</span>
                    <a routerLink="/"><img src="/assets/desktop/1-icon.png" /></a>
                </li>
                <li>
                    <span>Drums</span>
                    <a href="/apps/drums"><img src="/assets/desktop/drum-icon.png" /></a>
                </li>
                <li>
                    <span>Firefox</span>
                    <a href="#"><img src="/assets/desktop/icon-4.png" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>