<div class="dock-wrapper">
    <div id="dock-container">
        <div id="dock">
            <ul>
                <li>
                    <span>{{ 'PAGES.DESKTOP.ABC' | translate }}</span>
                    <a routerLink="/"><img src="/assets/desktop/a.jpg" /></a>
                </li>
                <li>
                    <span>{{ 'PAGES.DESKTOP.123' | translate }}</span>
                    <a routerLink="/"><img src="/assets/desktop/1-icon.webp" /></a>
                </li>
                <li>
                    <span>Chrome</span>
                    <a href="#"><img src="/assets/desktop/icon-3.png" /></a>
                </li>
                <li>
                    <span>Firefox</span>
                    <a href="#"><img src="/assets/desktop/icon-4.png" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>