<div class="dock-wrapper">
    <div id="dock-container">
        <div id="dock">
            <ul>
                <li>
                    <span>{{ 'PAGES.DESKTOP.ABC' | translate }}</span>
                    <a href="#/apps/smash"><img src="/assets/desktop/a-icon.png" /></a>
                </li>
                <li>
                    <span>{{ 'PAGES.DESKTOP.123' | translate }}</span>
                    <a href="#/apps/numbs"><img src="/assets/desktop/1-icon.png" /></a>
                </li>
                <li>
                    <span>Drums</span>
                    <a href="#/apps/drums"><img src="/assets/desktop/drum-icon.png" /></a>
                </li>
                <li>
                    <span>Sketchpad</span>
                    <a href="#/apps/sketchpad"><img src="/assets/desktop/sketchpad.png" /></a>
                </li>
                <li>
                    <span>Bomb</span>
                    <a href="#/apps/vd"><img src="/assets/desktop/vd-bomb.png" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>